<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Paws &#38; Claws Adoption</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="./css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="./css/employeestyle.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>


<body>

  <!-- Navigation Bar -->
  <nav class="NA transparent" role="navigation">
    <div class="nav-wrapper container"><a  href="#" class="logo">Paws &#38; Claws Adoption 🐶 Employee Portal</a>

      <ul class="right hide-on-med-and-down">
        <li><a href="/newpet" class="headText">Add Pet</a></li>
        <li><a href="/newemployee" class="headText">Add Employee</a></li>
        {{#if logged_in}}
        <li><a href="#" class="btn-small waves-effect waves-#212121 grey darken-3" id="logout">Log Out</a></li>
        {{/if}}
      </ul>

      <!-- Side Navigation Trigger -->
      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Log Out</a></li>
        <li><a href="/newemployee">Add Employee</a></li>
        <li><a href="/newpet">Add Animal</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons black-text">menu</i></a>
    </div>
  </nav>



  <!-- Main Content -->
  <main>

    <div class="row">
      <!--- side bar --->
      <div class="row">
        <div>
          <ul class="center horizontal-list">
            <li><a href="/employeehome" class="side-text hover-text">Active Profiles</a></li>
            <li><a href="/petinquiries" class="side-text hover-text">Adoption Inquiries</a></li>
            <li><a href="/employees" class="side-text hover-text">Employees</a></li>
          </ul>
        </div>
      </div>
  
      <!--- table container --->

      {{{body}}}
    </div>
  </main>






  <!-- Footer -->
  <footer class="page-footer NA transparent">
    <div class="footer-copyright NA transparent  grey lighten-4">
      <div class="container footText">
          <ul class="center horizontal-list">
            <li>123-456-7890</li>
            <li>pawsandclaws@email.com</li>
            <li>1011 Tails Ln, Meow MN 77654</li>
          </ul>
      </div>
    </div>
  </footer>



  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="./js/materialize.js"></script>
  <script src="./js/init.js"></script>
  <script src="./js/inquiryApproveDeny.js"></script>
  <script src="./js/deleteEmployee.js"></script>
  <script src="./js/newPet.js"></script>
  <script src="./js/deletePet.js"></script>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

  </body>
</html>
