<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Paws &#38; Claws Adoption</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../public/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../public/css/mainstyle.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <!-- <link href="../public/css/styles.css" type="text/css" rel="stylesheet" media="screen,projection"/> -->
</head>


<body>

  <!-- Navigation Bar -->
  <nav class="NA transparent" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand">Paws &#38; Claws Adoption</a>
      <ul class="right hide-on-med-and-down">
        <li ><a href="#" class="headText">About Us</a></li>
        <li><a href="#" class="headText">Create An Account</a></li>
        <li><a href="#" class="headText">Log In</a></li>
        <!-- <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-small waves-effect waves-#212121 grey darken-4">Log In</a> -->
      </ul>

      <!-- Side Navigation Trigger -->
      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">About Us</a></li>
        <li><a href="#">Create An Account</a></li>
        <li><a href="#">Log In</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons black-text">menu</i></a>
    </div>
  </nav>



  <!-- Main Content -->
  <main>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
          <br><br>
          <h1 class="header center text" id="title">Paws &#38; Claws Adoption</h1>
          <div class="row center">
            <h5 class="header center text">Give a pet a fur-ever home</h5>
          </div>
          <div class="row center">
            <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-#212121 grey darken-4">Search</a>
          </div>
          <br><br>
        </div>
      </div>
    
      <div class="media-object stack-for-small row center">
        <img id="titleImg" class="z-depth-3" src= "../public/images/priscilla-du-preez-qtkpOxCpl0Y-unsplash.jpg">
      </div>
  </main>



  <!-- Footer -->
  <footer class="page-footer NA transparent">
    <div class="footer-copyright NA transparent  grey lighten-4">
      <div class="container footText">
          <ul class="center horizontal-list">
            <li>123-456-7890</li>
            <li>|</li>
            <li>pawsandclaws@email.com</li>
            <li>|</li>
            <li>1011 Tails Ln, Meow MN 77654</li>
          </ul>
      </div>
    </div>
  </footer>



  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../public/js/materialize.js"></script>
  <script src="../public/js/init.js"></script>



  </body>
</html>
