<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Paws &#38; Claws Adoption</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../public/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../public/css/mainstyle.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <!-- <link href="../public/css/styles.css" type="text/css" rel="stylesheet" media="screen,projection"/> -->
</head>


<body>

  <!-- Navigation Bar -->
  <nav class="NA transparent" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand">Paws &#38; Claws Adoption</a>
      <ul class="right hide-on-med-and-down">
        <li ><a href="#" class="headText">About Us</a></li>
        <li><a href="#" class="headText">Create An Account</a></li>
        <li><a href="#" class="headText">Log In</a></li>
        <!-- <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-small waves-effect waves-#212121 grey darken-4">Log In</a> -->
      </ul>

      <!-- Side Navigation Trigger -->
      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">About Us</a></li>
        <li><a href="#">Create An Account</a></li>
        <li><a href="#">Log In</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons black-text">menu</i></a>
    </div>
  </nav>



  <!-- Main Content -->
  <main>
    <br><br>
    <h1 class="center">Adoptable Animals</h1> 
    <div class="flex-container">

        
        <div class="col s12 m3" id="petflex">
            <div class="card card-panel hoverable">
              <div class="card-image">
                <img src="../public/images/pets/dipen-patel-DzHHG0ZVfz0-unsplash.jpg">
                <span class="card-title">Dipen</span>
              </div>
              <div class="card-content">
                <p>Despite his elegant build, Dipen is a certified couch potato who enjoys sprawling out in the most awkward positions. He has a knack for burrowing under blankets and popping out like a surprise. Adopt Dippen for some delightful and hilariously lazy cuddle sessions!</p>
              </div>
              <div class="card-action center">
                <a href="#" class="action-text hover-text hover-text:hover">Adopt Me</a>
                <a href="#" class="action-text hover-text hover-text:hover">Add to Watch List</a>
              </div>
            </div>
          </div>

          <div class="col s12 m3" id="petflex">
            <div class="card card-panel hoverable">
              <div class="card-image">
                <img src="../public/images/pets/rafaella-waasdorp-joo3nR3eqUI-unsplash.jpg">
                <span class="card-title">Jazzy</span>
              </div>
              <div class="card-content">
                <p>Jazzy is a bright and intelligent girl who loves solving puzzles and learning new tricks. With her keen mind and gentle nature, she excels at everything from fetch to cuddles. Adopt Jazzy for a loyal friend who will keep you entertained and be by your side through thick and thin!</p>
              </div>
              <div class="card-action center">
                <a href="#" class="action-text hover-text hover-text:hover">Adopt Me</a>
                <a href="#" class="action-text hover-text hover-text:hover">Add to Watch List</a>
              </div>
            </div>
          </div>

          <div class="col s12 m3" id="petflex">
            <div class="card card-panel hoverable">
              <div class="card-image">
                <img src="../public/images/pets/ralu-gal-G8cB8hY3yvU-unsplash.jpg">
                <span class="card-title">Bella</span>
              </div>
              <div class="card-content">
                <p>Bella is a ball of energy with a tail that never stops wagging! This energetic girl has a habit of turning everything into a game, from chasing her own tail to playing hide-and-seek with your socks. Bring Bella home, and get ready for a whirlwind of fun and furry cuddles!</p>
              </div>
              <div class="card-action center">
                <a href="#" class="action-text hover-text hover-text:hover">Adopt Me</a>
                <a href="#" class="action-text hover-text hover-text:hover">Add to Watch List</a>
              </div>
            </div>
          </div>

        <div class="col s12 m3" id="petflex">
            <div class="card card-panel hoverable">
              <div class="card-image">
                <img src="../public/images/pets/vikram-kumar-s4-_us5ZZk4-unsplash.jpg">
                <span class="card-title">Hashbrown</span>
              </div>
              <div class="card-content">
                <p>Hashbrown is a witty little guy with a nose for adventure and a love for storytelling, or at least barking at the mailman like he's writing his next novel. He enjoys long walks, sniffing everything in sight, and then flopping dramatically on the couch. Adopt Hashbrown, and you'll have a four-legged author to keep you entertained with his 'tails' of bravery!</p>
              </div>
              <div class="card-action center">
                <a href="#" class="action-text hover-text hover-text:hover">Adopt Me</a>
                <a href="#" class="action-text hover-text hover-text:hover">Add to Watch List</a>
              </div>
            </div>
          </div>

          <div class="col s12 m3" id="petflex">
            <div class="card card-panel hoverable">
              <div class="card-image">
                <img src="../public/images/pets/zoe-askew-r9MO0BS_myw-unsplash.jpg">
                <span class="card-title">Benjamin Barker</span>
              </div>
              <div class="card-content">
                <p>Meet Benjamin Barker, the goofy golden retriever who thinks every day is a playdate! Benjamin loves fetching anything you throw, even if it's just your shoe, and can often be found trying to fit his entire body into his favorite tiny bed. Adopt Benjamin for endless games of fetch and lots of belly laughs!</p>
              </div>
              <div class="card-action center">
                <a href="#" class="action-text hover-text hover-text:hover">Adopt Me</a>
                <a href="#" class="action-text hover-text hover-text:hover">Add to Watch List</a>
              </div>
            </div>
          </div>

          <div class="col s12 m3" id="petflex">
            <div class="card card-panel hoverable">
              <div class="card-image">
                <img src="../public/images/pets/milada-vigerova-aR-eWYIEaOQ-unsplash.jpg">
                <span class="card-title">Wyatt</span>
              </div>
              <div class="card-content">
                <p>Wyatt is a stealthy kitty with a black belt in acrobatics and a talent for surprise pounces. This sleek, grey cat moves like a shadow, appearing out of nowhere to playfully ambush unsuspecting toys and toes. Adopt Wyatt, and you'll have an agile and mischievous companion ready to keep you on your toes!</p>
              </div>
              <div class="card-action center">
                <a href="#" class="action-text hover-text hover-text:hover">Adopt Me</a>
                <a href="#" class="action-text hover-text hover-text:hover">Add to Watch List</a>
              </div>
            </div>
          </div>

          <div class="col s12 m3" id="petflex">
            <div class="card card-panel hoverable">
              <div class="card-image">
                <img src="../public/images/pets/juan-gomez-YKPxhDmrzwg-unsplash.jpg">
                <span class="card-title">Princess Donut the Queen Anne Chonk</span>
              </div>
              <div class="card-content">
                <p>Introducing Princess Donut, the majestic feline who reigns supreme over all things cozy and luxurious. With her soft, fluffy coat and elegant demeanor, she demands the finest treats and the comfiest spots for her royal naps. Bring Princess Donut into your home, and you'll be living in a fairytale where she's the star of the castle!</p>
              </div>
              <div class="card-action center">
                <a href="#" class="action-text hover-text hover-text:hover">Adopt Me</a>
                <a href="#" class="action-text hover-text hover-text:hover">Add to Watch List</a>
              </div>
            </div>
          </div>

          <div class="col s12 m3" id="petflex">
            <div class="card card-panel hoverable">
              <div class="card-image">
                <img src="../public/images/pets/luiza-sayfullina-9giow4jXrzM-unsplash.jpg">
                <span class="card-title">Piper</span>
              </div>
              <div class="card-content">
                <p>Piper is our resident comedian, always ready to turn your frown upside down! This playful kitten loves to pounce on shadows and chase her tail in circles, providing endless entertainment. With Piper around, you'll never need a TV. Her antics are the best show in town!</p>
              </div>
              <div class="card-action center">
                <a href="#" class="action-text hover-text hover-text:hover">Adopt Me</a>
                <a href="#" class="action-text hover-text hover-text:hover">Add to Watch List</a>
              </div>
            </div>
          </div>

          <div class="col s12 m3" id="petflex">
            <div class="card card-panel hoverable">
              <div class="card-image">
                <img src="../public/images/pets/tugba-fKC47FgTsVY-unsplash.jpg">
                <span class="card-title">Gatsby</span>
              </div>
              <div class="card-content">
                <p>Meet Gatsby, a refined gentleman with impeccable manners and a charming purr. He enjoys spending his days lounging in the sun and his evenings curled up by your side, listening to classical music. Adopt Sir Purrington, and you will have a sophisticated companion who adds a touch of class to your home.</p>
              </div>
              <div class="card-action center">
                <a href="#" class="action-text hover-text hover-text:hover">Adopt Me</a>
                <a href="#" class="action-text hover-text hover-text:hover">Add to Watch List</a>
              </div>
            </div>
          </div>

        <div class="col s12 m3" id="petflex">
          <div class="card card-panel hoverable">
            <div class="card-image">
              <img src="../public/images/pets/bianca-ackermann-uox6mD_d0jE-unsplash.jpg">
              <span class="card-title">Birb</span>
            </div>
            <div class="card-content">
              <p>Birb is a small bird with a big personality! This charming budgie loves to mimic sounds and can often be found perched happily on your shoulder, chattering away about his day. Adopt Peanut for a delightful companion who will bring joy, laughter, and a touch of whimsy to your home.</p>
            </div>
            <div class="card-action center">
              <a href="#" class="action-text hover-text hover-text:hover">Adopt Me</a>
              <a href="#" class="action-text hover-text hover-text:hover">Add to Watch List</a>
            </div>
          </div>
        </div>
    
        <div class="col s12 m3" id="petflex">
          <div class="card card-panel hoverable">
            <div class="card-image">
              <img src="../public/images/pets/david-vives-r1dkaDXdCDo-unsplash.jpg">
              <span class="card-title">Kiwi</span>
            </div>
            <div class="card-content">
              <p>Meet Kiwi, our little green chatterbox with a zest for life! Kiwi loves serenading with cheerful whistles and is known for his quirky habit of dancing whenever he hears music. If you're looking for a feathery friend who will keep you entertained with endless antics, Kiwi is ready to boogie his way into your heart!</p>
            </div>
            <div class="card-action center">
              <a href="#" class="action-text hover-text hover-text:hover">Adopt Me</a>
              <a href="#" class="action-text hover-text hover-text:hover">Add to Watch List</a>
            </div>
          </div>
        </div>

        <div class="col s12 m3" id="petflex">
            <div class="card card-panel hoverable">
              <div class="card-image">
                <img src="../public/images/pets/andrea-lightfoot-l74YFcIJ5dQ-unsplash.jpg">
                <span class="card-title">Mango</span>
              </div>
              <div class="card-content">
                <p>Mango is a vibrant conure with a flair for the dramatic! Whether he's performing acrobatics in his cage or showing off his impressive vocabulary, Mango never fails to impress. He's on the lookout for a forever home where he can be the star of the show and your constant source of amusement.</p>
              </div>
              <div class="card-action center">
                <a href="#" class="action-text hover-text hover-text:hover">Adopt Me</a>
                <a href="#" class="action-text hover-text hover-text:hover">Add to Watch List</a>
              </div>
            </div>
          </div>

          <div class="col s12 m3" id="petflex">
            <div class="card card-panel hoverable">
              <div class="card-image">
                <img src="../public/images/pets/xandar-7brN0tlZEL0-unsplash.jpg">
                <span class="card-title">Spike</span>
              </div>
              <div class="card-content">
                <p>Meet Spike, the bearded dragon with a penchant for striking regal poses atop his favorite rock. His curious nature and expressive face make every interaction a delight, whether he's chasing crickets or enjoying a cozy bask under his heat lamp. Adopt Spike for a reptile companion who brings a touch of majesty to your home.</p>
              </div>
              <div class="card-action center">
                <a href="#" class="action-text hover-text hover-text:hover">Adopt Me</a>
                <a href="#" class="action-text hover-text hover-text:hover">Add to Watch List</a>
              </div>
            </div>
          </div>

          <div class="col s12 m3" id="petflex">
            <div class="card card-panel hoverable">
              <div class="card-image">
                <img src="../public/images/pets/claudel-rheault-nMJKAXHBLLI-unsplash.jpg">
                <span class="card-title">Prisim</span>
              </div>
              <div class="card-content">
                <p>Prism is a captivating chameleon whose vibrant hues shimmer like a kaleidoscope in the sunlight. With her mesmerizing color-changing abilities and graceful movements, Prism is like a living work of art. Adopt Prism for an enchanting companion who will bring a spectrum of joy and wonder into your home.</p>
              </div>
              <div class="card-action center">
                <a href="#" class="action-text hover-text hover-text:hover">Adopt Me</a>
                <a href="#" class="action-text hover-text hover-text:hover">Add to Watch List</a>
              </div>
            </div>
          </div>

          <div class="col s12 m3" id="petflex">
            <div class="card card-panel hoverable">
              <div class="card-image">
                <img src="../public/images/pets/lia-oA5-kqhfKoY-unsplash.jpg">
                <span class="card-title">Tank</span>
              </div>
              <div class="card-content">
                <p>Tank is a charming turtle who loves to take it slow and steady, enjoying leisurely swims and sunbathing sessions. His calm demeanor and gentle nature make him the perfect companion for a peaceful household. Adopt Tank for a serene and captivating pet who will bring tranquility and joy to your days.</p>
              </div>
              <div class="card-action center">
                <a href="#" class="action-text hover-text hover-text:hover">Adopt Me</a>
                <a href="#" class="action-text hover-text hover-text:hover">Add to Watch List</a>
              </div>
            </div>
          </div>
          


          <div class="col s12 m3" id="petflex">
            <div class="card card-panel hoverable">
              <div class="card-image">
                <img src="../public/images/pets/ricky-kharawala-adK3Vu70DEQ-unsplash.jpg">
                <span class="card-title">Peanut</span>
              </div>
              <div class="card-content">
                <p>Peanut is a cuddly hamster with a heart as soft as his silky fur. His gentle squeaks and affectionate nuzzles make every cuddle session a delight, while his love for fresh veggies adds a touch of whimsy to mealtime. Bring Peanut home for a charming and lovable companion who will warm your heart with his sweet personality.</p>
              </div>
              <div class="card-action center">
                <a href="#" class="action-text hover-text hover-text:hover">Adopt Me</a>
                <a href="#" class="action-text hover-text hover-text:hover">Add to Watch List</a>
              </div>
            </div>
          </div>

          <div class="col s12 m3" id="petflex">
            <div class="card card-panel hoverable">
              <div class="card-image">
                <img src="../public/images/pets/bonnie-kittle-MUcxe_wDurE-unsplash.jpg">
                <span class="card-title">Bonnie &#38; Clyde</span>
              </div>
              <div class="card-content">
                <p>Bonnie and Clyde are a dynamic duo of mischievous guinea pigs who are always on the hunt for adventure and excitement. With their boundless energy and insatiable curiosity, they turn every corner of the house into a playground, leaving a trail of laughter and chaos in their wake. Adopt onnie and Clyde for a double dose of furry fun and endless entertainment!</p>
              </div>
              <div class="card-action center">
                <a href="#" class="action-text hover-text hover-text:hover">Adopt Me</a>
                <a href="#" class="action-text hover-text hover-text:hover">Add to Watch List</a>
              </div>
            </div>
          </div>

          <div class="col s12 m3" id="petflex">
            <div class="card card-panel hoverable">
              <div class="card-image">
                <img src="../public/images/pets/sunny-nguyen-Kbe39sSP8t0-unsplash.jpg">
                <span class="card-title">Flopsy</span>
              </div>
              <div class="card-content">
                <p>Flopsy is a fluffy rabbit with a heart as soft as his velvety fur. With his gentle hops and twitching nose, he explores the world around him, always ready to nibble on fresh greens or cozy up in a warm burrow. Adopt Flopsy for a delightful companion who will bring warmth and comfort to your home with his sweet demeanor and adorable antics.</p>
              </div>
              <div class="card-action center">
                <a href="#" class="action-text hover-text hover-text:hover">Adopt Me</a>
                <a href="#" class="action-text hover-text hover-text:hover">Add to Watch List</a>
              </div>
            </div>
          </div>

         
          
      </div>
  </main>



  <!-- Footer -->
  <footer class="page-footer NA transparent">
    <div class="footer-copyright NA transparent  grey lighten-4">
      <div class="container footText">
          <ul class="center horizontal-list">
            <li>123-456-7890</li>
            <li>|</li>
            <li>pawsandclaws@email.com</li>
            <li>|</li>
            <li>1011 Tails Ln, Meow MN 77654</li>
          </ul>
      </div>
    </div>
  </footer>



  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../public/js/materialize.js"></script>
  <script src="../public/js/init.js"></script>



  </body>
</html>
