<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Paws &#38; Claws Adoption</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../public/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../public/css/mainstyle.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>




<body>
  <!-- Navigation Bar -->
  <nav class="NA transparent" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="../public/home.html" class="logo">Paws &#38; Claws Adoption</a>
      
      <ul class="right hide-on-med-and-down">
        <li ><a href="#" class="headText">Favorites</a></li>
        <li><a href="../public/home.html" class="headText">Home</a></li>
        <li><a href="../public/about-us.html" class="headText">About Us</a></li>
        <li><a href="#" class="btn-small waves-effect waves-#212121 grey darken-3">Log Out</a></li>
      </ul>

      <!-- Side Navigation Trigger -->
      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Favorites</a></li>
        <li><a href="../public/home.html">Home</a></li>
        <li><a href="../public/about-us.html">About Us</a></li>
        <li><a href="#">Log Out</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons black-text">menu</i></a>
    </div>
  </nav>
  <main class ="row">
  <h3 class="center">Employee Log-in</h3>
  <div class="row"> 
    <!--form for employee Login-->
    <form id ='empLoginForm' class="col s6 card-panel grey lighten-5 z-depth-1"><h4 class="center">Existing Employee</h4>
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_name empLoginName" type="text" class="validate">
          <label for="icon_name">Name</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">lock</i>
          <textarea id="icon_mess empLoginPassword" class="materialize-textarea"></textarea>
          <label for="icon_mess">Password</label>
        </div>
        <button id="empLoginBtn" class="btn waves-effect waves-light" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
    <!--form for new employee Login-->
    <form id="newEmpForm" class="col s6 card-panel grey lighten-5 z-depth-1"><h4 class="center">New Employee</h4>
        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">account_circle</i>
            <input id="icon_name newEmpName" type="text" class="validate">
            <label for="icon_name">Name</label>
          </div>
          <div class="input-field col s6">
            <i class="material-icons prefix">contact_phone</i>
            <input id="icon_phone newEmpPhone" type="tel" class="validate">
            <label for="icon_phone">Telephone Number</label>
          </div>
          <div class="input-field col s6">
            <i class="material-icons prefix">contact_mail</i>
            <input id="icon_email newEmpEmail" type="text" class="validate">
            <label for="icon_email">Email</label>
          </div>
          <div class="input-field col s6">
            <i class="material-icons prefix">lock</i>
            <textarea id="icon_mess newEmpPassword" class="materialize-textarea"></textarea>
            <label for="icon_mess">Password</label>
          </div>
          <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>
        </div>
      </form>


  </div>



  </main>



  


  <!-- Footer -->
  <footer class="page-footer NA transparent">
    <div class="footer-copyright NA transparent  grey lighten-4">
      <div class="container footText">
          <ul class="center horizontal-list">
            <li>123-456-7890</li>
            <li>pawsandclaws@email.com</li>
            <li>1011 Tails Ln, Meow MN 77654</li>
          </ul>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../public/js/materialize.js"></script>
  <script src="../public/js/init.js"></script>
  <script src="../public/js/empLogin.js"></script>

  </body>
</html>