        <h4 class="center">Current Employees</h4>

        <div class="col s10 pet-table ">
          <table class="highlight">
            <thead>
              <tr class="grey lighten-3 tabpad">
                <th>Employee ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
              </tr>
            </thead>
            
            <tbody>
              <tr>
                <td>{{employee.id}}</td>
                <td>{{employee.employee_name}}</td>
                <td>{{employee.employee_email}}</td>
                <td>{{employee.employee_phone}}</td>
                <td><a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">clear</i></a></td>
              </tr>
              <tr>
              </tbody>
              
            </table>
          </div>

  <script src="../../public/js/pageLinks.js"></script>