        <h4 class="center">Current Employees</h4>

        <div class="col s10 pet-table ">
          <table class="highlight">
            <thead>
              <tr class="grey lighten-3 tabpad">
                <th>Employee ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
              </tr>
            </thead>
            
            <tbody>
              <tr>
                <td>1</td>
                <td>Eli Ward</td>
                <td>eli@hotmail.com</td>
                <td>123-456-7891</td>
              </tr>
              <tr>
              </tbody>
            </table>
          </div>