<div class="row">
    <form class="col s12">
      <div class="row">
        <!--form for new employees-->
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_name" type="text" class="validate">
          <label for="icon_name">Name</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">contact_phone</i>
          <input id="icon_phone" type="tel" class="validate">
          <label for="icon_phone">Telephone Number</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">contact_mail</i>
          <input id="icon_email" type="text" class="validate">
          <label for="icon_email">Email</label>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">lock</i>
          <textarea id="icon_mess" class="materialize-textarea"></textarea>
          <label for="icon_mess">Password</label>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
  </div>