<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Paws &#38; Claws Adoption</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../public/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../public/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../public/css/styles.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>




<body>
  <!-- Navigation Bar -->
  <nav class="NA transparent" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand black-text">Paws & Claws Adoption</a>
      <ul class="right hide-on-med-and-down">
        <li ><a href="#" class="black-text">About Us</a></li>
        <li><a href="#" class="black-text">Create An Account</a></li>
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-small waves-effect waves-#212121 grey darken-4">Log In</a>
      </ul>
      <!-- Side Navigation Trigger -->
      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <!-- Main -->
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center text" id="title">Paws &#38; Claws Adoption</h1>
      <div class="row center">
        <h5 class="header center text">Give a pet a fur-ever home</h5>
      </div>
      <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-#212121 grey darken-4">Search</a>
      </div>
      <br><br>
    </div>
  </div>

  <div class="media-object stack-for-small row center">
    <img id="titleImg" src= "../public/images/priscilla-du-preez-qtkpOxCpl0Y-unsplash.jpg">
  </div>


  <!-- <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Speeds up development</h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">User Experience Focused</h5>

            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div> -->

  <!-- Footer -->
  <footer class="page-footer NA transparent">
    <div class="container">
      <div class="row">
      </div>
    </div>
    <div class="footer-copyright ">
      <div class="container black-text">
          Paws &#38; Claws Adoption
          <!-- <a class="black-text text-lighten-4 right">123-456-7890</a> -->
          <a class="black-text text-lighten-4 right">pawsandclaws@email.com</a>
          <!-- <a class="black-text text-lighten-4 right">1011 Tails Ln, Meow MN 77654</a> -->
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../public/js/materialize.js"></script>
  <script src="../public/js/init.js"></script>

  </body>
</html>
