<h4 class="center">Adoption Inquiries</h4>

        <div class="col s10 pet-table ">
          <table class="highlight">
            <thead>
              <tr class="grey lighten-3 tabpad">
                <th>ID</th>
                <th>Name</th>
                <th>Animal Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Submitted</th>
                <th>Approve</th>
                <th>Deny</th>
              </tr>
            </thead>
      
            <tbody>
              <tr>
                <td>1</td>
                <td>Clinton Shay</td>
                <td>Piper</td>
                <td>clinton@email.com</td>
                <td>789-568-6754</td>
                <td>05/05/2024</td>
                <td>✅</td>
                <td>❌</td>
              </tr>
            </tbody>

          </table>
  
        </div>