  <main>
    <div class="container">
      <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
          <div class="card">
            <div class="card-content logInContent">
              <span class="card-title center">Employee Portal</span>
              <!-- Tabs -->
              <ul class="tabs">
                <!-- Add active class to the tab that is currently selected -->
                <li class="tab col s6"><a href="#login" class="active">Log In</a></li>
                <li class="tab col s6"><a href="#signup">Sign Up</a></li>
              </ul>
                <!-- Tab Content -->
              <div id="login" class="col s12">
                <!-- Login Form -->
                <form id="login-form" class="login-form">
                    <!-- Add email field -->
                  <div class="row">
                    <div class="input-field col s12">
                      <i class="material-icons prefix">account_circle</i>
                      <input id="email-login" type="email" class="validate" required>
                      <label for="email-login">Email</label>
                    </div>
                  </div>
                  <!-- Add password field -->
                  <div class="row">
                    <div class="input-field col s12">
                      <i class="material-icons prefix">lock</i>
                      <input id="password-login" type="password" class="validate" required>
                      <label for="password-login">Password</label>
                    </div>
                  </div>
                  <div class="row center">
                    <button type="submit" class="btn waves-effect waves-light #212121 grey darken-3">Login</button>
                  </div>
                </form>
              </div>
              <!-- Sign Up Form -->
              <div id="signup" class="col s12">
                <form id="signup-form" class="signup-form">
                  <div class="row">
                    <div class="input-field col s12">
                      <i class="material-icons prefix">account_circle</i>
                      <input id="name-signup" type="text" class="validate" required>
                      <label for="name-signup">Name</label>
                    </div>
                  </div>
                  <!-- Add email field -->
                  <div class="row">
                    <div class="input-field col s12">
                      <i class="material-icons prefix">email</i>
                      <input id="email-signup" type="email" class="validate" required>
                      <label for="email-signup">Email</label>
                    </div>
                  </div>
                  <!-- Add phone number field -->
                    <div class="row">
                        <div class="input-field col s12">
                          <i class="material-icons prefix">phone</i>
                          <input id="phone-signup" type="tel" class="validate" required>
                          <label for="phone-signup">Phone Number</label>
                        </div>
                    </div>
                  <!-- Add password field -->
                  <div class="row">
                    <div class="input-field col s12">
                      <i class="material-icons prefix">lock</i>
                      <input id="password-signup" type="password" class="validate" required>
                      <label for="password-signup">Password</label>
                    </div>
                  </div>
                  <!-- A confirm password field if we want -->
                    <!-- <div class="row">
                        <div class="input-field col s12">
                        <i class="material-icons prefix">lock</i>
                        <input id="confirm-password-signup" type="password" class="validate" required>
                        <label for="confirm-password-signup">Confirm Password</label>
                        </div>
                    </div> -->
                  <div class="row center">
                    <button type="submit" class="btn waves-effect waves-light #212121 grey darken-3">Sign Up</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <script src="./js/login.js"></script>