
<h3>Add New Employee</h3>
    <div class="container">
      <form class="col s12">
        <div class="row">

          <div class="input-field col s6">
            <i class="material-icons prefix">account_circle</i>
            <input id="employee_Name" type="text" class="validate">
            <label for="employee_Name">Name</label>
          </div>

          <div class="input-field col s6">
            <i class="material-icons prefix">contact_mail</i>
            <input id="employee_Email" type="text" class="validate">
            <label for="employee_Email">Email</label>
          </div>

          <div class="input-field col s6">
            <i class="material-icons prefix">phone</i>
            <input id="employee_Phone" type="tel" class="validate">
            <label for="employee_Phone">Phone</label>
          </div>

          <div class="input-field col s6">
            <i class="material-icons prefix">lock</i>
            <input id="employee_Password" type="text" class="validate">
            <label for="employee_Password">Password</label>
          </div>

          <button id="addEmployeeButton" class="btn waves-effect waves-light right" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>
          <!-- <a class="waves-effect waves-light btn-small red"><i class="material-icons right">cancel</i>Cancel</a> -->
        </div>
      </form>
    </div>


      <script src="/js/newEmployee.js"></script>