<h3>Add New Animal</h3>
    <div class="container">
      <form class="col s12">
        <div class="row">

          <div class="input-field col s6">
            <i class="material-icons prefix">pets</i>
            <input id="pet_Name" type="text" class="validate">
            <label for="pet_Name">Name</label>
          </div>

          <div class="input-field col s6">
            <i class="material-icons prefix">cake</i>
            <input id="pet_Age" type="text" class="validate">
            <label for="pet_Age">Age</label>
          </div>

          <div class="input-field col s6">
            <i class="material-icons prefix">assignment</i>
            <input id="pet_Type" type="tel" class="validate">
            <label for="pet_Type">Type</label>
          </div>

          <div class="input-field col s6">
            <i class="material-icons prefix">format_bold</i>
            <input id="pet_Breed" type="text" class="validate">
            <label for="pet_Breed">Breed</label>
          </div>

          <div class="input-field col s12">
            <i class="material-icons prefix">message</i>
            <textarea id="pet_Description" class="materialize-textarea"></textarea>
            <label for="pet_Description">Description</label>
          </div>

          {{!-- <div class="input-field col s12">
            <i class="material-icons prefix">add_a_photo</i>
            <label class="custom-file-upload">
            <input type="file" id="myFile" name="filename">
            Choose File
          </label>
          </div>  --}}

          <button id="addPetButton" class="btn waves-effect waves-light right" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>
          <!-- <a class="waves-effect waves-light btn-small red"><i class="material-icons right">cancel</i>Cancel</a> -->
        </div>
      </form>
    </div>


      {{!-- <script src="/js/addpet.js"></script> --}}
      <script src="./js/newPet.js"></script>