        <h4 class="center">Active Animal Profiles</h4>

        <div class="col s10 pet-table ">
          <table class="highlight">
            <thead>
              <tr class="grey lighten-3 tabpad">
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Type</th>
                <th>Breed</th>
                <th>Date Added</th>
                <th>Status</th>
                <th>Update</th>
                <th>Delete</th>
              </tr>
            </thead>
      
            <tbody>
              <tr>
                <td>1</td>
                <td>Dipen</td>
                <td>3</td>
                <td>Dog</td>
                <td>Barbado</td>
                <td>06/12/2024</td>
                <td>Pending</td>
                <td>📝</td>
                <td>❌</td>
              </tr>
            </tbody>
            
          </table>
        </div>