<div class="col s12 m3" id="petflex">
    <div class="card card-panel hoverable">
        <div class="card-image">
            <img src="../public/images/pets/dipen-patel-DzHHG0ZVfz0-unsplash.jpg">
            <span class="card-title">Dipen</span>
        </div>
        <div class="card-content">
            <p>Despite his elegant build, Dipen is a certified couch potato who enjoys sprawling out in the most awkward positions. He has a knack for burrowing under blankets and popping out like a surprise. Adopt Dippen for some delightful and hilariously lazy cuddle sessions!</p>
        </div>
        <div class="card-action center">
            <a href="#" class="action-text hover-text hover-text:hover" >Adopt Me</a>
            <a class="btn-floating waves-effect teal lighten-1"><i class="material-icons">grade</i></a>
        </div>
    </div>
</div>