* {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}


/* ------ header styles ------ */
.logo {
  color: black;
  font-size: 150%;
}

.headText {
  color: black; 
}




/*------ main styles ------*/
#titleImg {
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}



.flex-container {
  display: flex;                /* Establishes flex context */
  flex-wrap: wrap;              /* Allows items to wrap onto multiple lines */
  justify-content: center; /* Distributes items evenly */
  /* align-items: flex-start;       */
  /* Aligns items at the start */
  width: 100%;
  padding: 80px;
  background-color: #fff;
  /* border: 2px solid #ccc; */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /*border-radius: 8px; */
  
}



/*------ card flex for pet search page ------*/
#petflex {
  flex: 1 1 auto;                /* Allows items to grow, shrink, and sets a basis of 30% */
  /* max-width: 30%;
  margin: 10px; */
      /* Includes padding and border in the element's total width and height */
}

.card {
  /* flex: 1 1 300px; */
  max-width: 400px;
}

.volunteer-card {
  margin-left: 10%;
  max-width: 500px;
}


/* ------ pet search card title ------*/
.card-title {
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 20px !important;
  padding: 3% !important;
}



.action-text {
  color:black !important;
}


/* ------ footer styles ------*/
.footText {
  color: black;
  font-size: 100%;
}


.horizontal-list li {
  display: inline-block;
  margin-right: 40px;
}

/*------ anchors footer -------*/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}




.hover-text {
  transition: font-size 0.2s ease; /* Smooth transition effect */
}


.hover-text:hover {
  color: orangered !important;
}